<p>
  <mat-toolbar class="toolbar">
    <span class="spacer">Activity List</span>
    <div class="flex mb-4">
      <input type="text" placeholder="Filter by Title" [(ngModel)]="filterTitle"
        class="border border-gray-300 px-4 mt-4 mr-2 rounded-lg">
    </div>
    <a (click)="openAddActivityPopup(addActivityPopup)" mat-raised-button color="primary" id="add">
      <mat-icon>add</mat-icon>
      New Activity
    </a>
  </mat-toolbar>
</p>

<div id="loader" *ngIf="loading; else list">
  <span class="loader"></span><br>
  <p>Loading activities...</p>
</div>

<ng-template #list>
  <div *ngIf="activities.length === 0" class="alert alert-info">No activities found</div>
  <div fxFlexFill fxLayout="column">
    <table mat-table [dataSource]="activities | filter:filterTitle" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{ item.id }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Activity Title </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{ item.title }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef> Start Date </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{ item.startDate }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="schoolId">
        <mat-header-cell *matHeaderCellDef> School </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{ item.schoolId }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let item">
          <a (click)="openEditActivityPopup(editActivityModal, item)" mat-raised-button color="accent">Edit</a>&nbsp;
          <button (click)="openDeleteConfirmationPopup(deleteConfirmationModal, item)" mat-button
            color="warn"><mat-icon>delete</mat-icon></button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
  </div>
</ng-template>

<ng-template #addActivityPopup let-modal>
  <div class="modal-container">
    <div class="modal-content bg-white p-8 rounded-lg">
      <div class="modal-header">
        <h4 class="modal-title" style="font-weight: bold;">Add Activity</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="addActivity()" #addActivityForm="ngForm" novalidate>

          <div class="mb-4">
            <label for="title" class="block text-gray-700">Title:</label>
            <input type="text" id="title" name="title" [(ngModel)]="newActivity.title"
              class="border border-gray-300 px-4 py-2 rounded-lg" required>
            <div *ngIf="addActivityForm.submitted && addActivityForm.controls['title'].invalid" class="text-red-500">Title is required.</div>
          </div>

          <div class="mb-4">
            <label for="startDate" class="block text-gray-700">Start Date:</label>
            <input type="date" id="startDate" name="startDate" [(ngModel)]="newActivity.startDate"
              class="border border-gray-300 px-4 py-2 rounded-lg" required>
            <div *ngIf="addActivityForm.submitted && addActivityForm.controls['startDate'].invalid"
              class="text-red-500">Start Date is required.</div>
          </div>

          <div class="mb-4">
            <label for="endDate" class="block text-gray-700">Finish Date:</label>
            <input type="date" id="endDate" name="endDate" [(ngModel)]="newActivity.endDate"
              class="border border-gray-300 px-4 py-2 rounded-lg" required>
            <div *ngIf="addActivityForm.submitted && addActivityForm.controls['endDate'].invalid" class="text-red-500">Finish Date is required.</div>
          </div>

          <div class="mb-4">
            <label for="schoolId" class="block text-gray-700">School:</label>
            <select id="schoolId" name="schoolId" [(ngModel)]="newActivity.schoolId"
              class="border border-gray-300 px-4 py-2 rounded-lg" required>
              <option *ngFor="let school of schools" [value]="school.title">{{ school.title }}</option>
            </select>
            <div *ngIf="addActivityForm.submitted && addActivityForm.controls['schoolId'].invalid" class="text-red-500">
              School is required.</div>
          </div>

          <div class="mb-4">
            <label for="description" class="block text-gray-700">Description:</label>
            <textarea id="description" name="description" [(ngModel)]="newActivity.description"
              class="border border-gray-300 px-4 py-2 rounded-lg" required></textarea>
            <div *ngIf="addActivityForm.submitted && addActivityForm.controls['description'].invalid"
              class="text-red-500">Description is required.</div>
          </div>

          <div class="mb-4">
            <label for="typeActivitie" class="block text-gray-700">Activity Type:</label>
            <select id="typeActivitie" name="typeActivitie" [(ngModel)]="newActivity.typeActivitie"
              class="border border-gray-300 px-4 py-2 rounded-lg" required>
              <option value="Atividade">Activity</option>
              <option value="Projeto">Project</option>
              <option value="Clube">Club</option>
              <option value="Visita de Estudo">Study Visit</option>
            </select>
            <div *ngIf="addActivityForm.submitted && addActivityForm.controls['typeActivitie'].invalid"
              class="text-red-500">Study Visit is required.</div>
          </div>

          <div class="mb-4" *ngIf="newActivity.typeActivitie === 'Visita de Estudo'">
            <label for="guide" class="block text-gray-700">Roteiro:</label>
            <textarea id="guide" name="guide" [(ngModel)]="newActivity.guide"
              class="border border-gray-300 px-4 py-2 rounded-lg"></textarea>
          </div>

          <div class="flex justify-end">
            <button type="submit"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg">Add</button>
            <button type="button" (click)="modal.dismiss()"
              class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-lg ml-2">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #editActivityModal let-modal>
  <div class="modal-container">
    <div class="modal-content bg-white p-8 rounded-lg">
      <div class="modal-header">
        <h4 class="modal-title" style="font-weight: bold;">Edit Activity</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="saveEditedActivity()" #editActivityForm="ngForm" novalidate>
          <div class="mb-4">
            <label for="title" class="block text-gray-700">Title:</label>
            <input type="text" id="title" name="title" [(ngModel)]="editedActivity.title"
              class="border border-gray-300 px-4 py-2 rounded-lg" required>
            <div *ngIf="editActivityForm.submitted && editActivityForm.controls['title'].invalid" class="text-red-500">Title is required.</div>
          </div>

          <div class="mb-4">
            <label for="startDate" class="block text-gray-700">Start Date:</label>
            <input type="date" id="startDate" name="startDate" [(ngModel)]="editedActivity.startDate"
              class="border border-gray-300 px-4 py-2 rounded-lg" required>
            <div *ngIf="editActivityForm.submitted && editActivityForm.controls['startDate'].invalid"
              class="text-red-500">Start Date is required.</div>
          </div>

          <div class="mb-4">
            <label for="endDate" class="block text-gray-700">Finish Date:</label>
            <input type="date" id="endDate" name="endDate" [(ngModel)]="editedActivity.endDate"
              class="border border-gray-300 px-4 py-2 rounded-lg" required>
            <div *ngIf="editActivityForm.submitted && editActivityForm.controls['endDate'].invalid"
              class="text-red-500">Finish Date is required.</div>
          </div>

          <div class="mb-4">
            <label for="schoolId" class="block text-gray-700">School:</label>
            <select id="schoolId" name="schoolId" [(ngModel)]="editedActivity.schoolId"
              class="border border-gray-300 px-4 py-2 rounded-lg" required>
              <option *ngFor="let school of schools" [value]="school.title">{{ school.title }}</option>
            </select>
            <div *ngIf="editActivityForm.submitted && editActivityForm.controls['schoolId'].invalid"
              class="text-red-500">School is required.</div>
          </div>

          <div class="mb-4">
            <label for="description" class="block text-gray-700">Description:</label>
            <textarea id="description" name="description" [(ngModel)]="editedActivity.description"
              class="border border-gray-300 px-4 py-2 rounded-lg" required></textarea>
            <div *ngIf="editActivityForm.submitted && editActivityForm.controls['description'].invalid"
              class="text-red-500">Description is required.</div>
          </div>

          <div class="mb-4">
            <label for="typeActivitie" class="block text-gray-700">Activity Type:</label>
            <select id="typeActivitie" name="typeActivitie" [(ngModel)]="editedActivity.typeActivitie"
              class="border border-gray-300 px-4 py-2 rounded-lg" required>
              <option value="Atividade">Activity</option>
              <option value="Projeto">Project</option>
              <option value="Clube">Club</option>
              <option value="Visita de Estudo">Study Visit</option>
            </select>
            <div *ngIf="editActivityForm.submitted && editActivityForm.controls['typeActivitie'].invalid"
              class="text-red-500">Activity Type is required.</div>
          </div>

          <div class="mb-4" *ngIf="editedActivity.typeActivitie === 'Visita de Estudo'">
            <label for="guide" class="block text-gray-700">Script:</label>
            <textarea id="guide" name="guide" [(ngModel)]="editedActivity.guide"
              class="border border-gray-300 px-4 py-2 rounded-lg"></textarea>
          </div>

          <div class="flex justify-end">
            <button type="submit"
              class="btn btn-primary bg-blue-500 mr-2 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg">Save</button>
            <button type="button"
              class="btn btn-secondary mr-2 bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded-lg"
              (click)="modal.dismiss()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #deleteConfirmationModal let-modal>
  <div class="modal-container">
    <div class="modal-content bg-white p-8 rounded-lg">
      <div class="modal-header">
        <h4 class="modal-title" style="font-weight: bold;">Confirm Exclusion</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>To delete the activity, enter the password:</p>
        <input type="password" placeholder="Password Admin" [(ngModel)]="adminPassword"
          class="border border-gray-300 px-4 py-2 rounded-lg mb-2">
      </div>
      <div class="modal-footer">
        <button type="button"
          class="btn btn-secondary mr-2 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-lg"
          (click)="modal.dismiss()">Cancel</button>
        <button type="button"
          class="btn btn-danger bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg"
          (click)="modal.close('confirm')">Confirm</button>
      </div>
    </div>
  </div>
</ng-template>
